# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# Editor configs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# pytest cache
.pytest_cache/

# Log files
*.log

# Jupyter (por si usás notebooks)
.ipynb_checkpoints/

# Environment/config
.env
*.sqlite
